<h2>Add new Player to database</h2>
<form method="POST" action="/player">
  <label>
    <p>
      Name:
    </p>
    <p>
      <input type="text" name="name">
    </p>
  </label>
  <label>
    <p>
      Birth:
    </p>
    <p>
      <input type="date" name="birth">
    </p>
  </label>
  <label>
    <p>
      Club:
    </p>
    <p>
      <input type="text" name="club">
    </p>
  </label>
  <label>
    <p>
      Position:
    </p>
    <p>
      <input type="text" name="position">
    </p>
  </label>
  <label>
    <p>
      Foot:
    </p>
    <p>
      <input type="text" name="foot">
    </p>
  </label>

  <p>
    <button type="submit">Save</button>
  </p>
</form>